<div class="p-3 mb-2 rounded-0 text-center home-container">
    
  <div class="container-fluid py-4 text-center">
        
    <h1 class="display-5 fw-bold">MEAN Authentication App</h1>
    <p class="hello">Welcome to Lee Seunghoon Homepage</p>
  </div>
</div>

<div class="container">
  <div class="box">
    <div class="text">
      <p class="card-text">
        이름 : 이승훈<br /><br />
        나이 : 23<br /><br />
        사는 곳 : 서울 강서구<br /><br />
        대학교 : 중부대학교 정보보안학과 2학년<br /><br />
        학번 : 91812866
      </p>
    </div>
  </div>

  <div class="box">
    <div class="text">
      <p class="card-text">
        프로젝트 : 벌초 예약 서비스<br /><br />
        팀명 : 벌초is<br /><br />
        팀원: 유태균 이승훈 이규민 성우상
      </p>
    </div>
  </div>
</div>

<div class="container">
  <a href="https://lshtistory.netlify.app">
    <div class="home-card">
      <div class="home-card-image">
        <img src="../../../assets/image/LSHtistory.PNG" alt="" />
      </div>
      <div class="home-card-text">
        <h2>LSHtistory</h2>
        <p>1학기 개인프로젝트</p>
      </div>
    </div>
  </a>

  <a href="https://lshblog.netlify.app">
    <div class="home-card">
      <div class="home-card-image">
        <img src="../../../assets/image/LSHblog.PNG" alt="" />
      </div>
      <div class="home-card-text">
        <h2>LSHblog</h2>
        <p>1학기 개인프로젝트</p>
      </div>
    </div>
  </a>

  <a href="https://vercho-is.herokuapp.com/">
    <div class="home-card">
      <div class="home-card-image">
        <img src="../../../assets/image/" alt="" />
      </div>
      <div class="home-card-text">
        <h2>Vercho-is</h2>
        <p>2학기 팀프로젝트</p>
      </div>
    </div>
  </a>
</div>
